# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
*.user
*.aps
*.ncb
*.opendb
*.suo
*.sln.docstates
*.sln.cache
*.pdb
*.ipch/
*.VC.db
*.VC.VC.opendb

# ReSharper files
_ReSharper*/
*.resharper
*.DotSettings.user

# NuGet packages
packages/
*.nupkg
*.snupkg

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# DocProject file
DocProject/buildhelp/

# Click-Once manifests
publish/

# Publish Web Output
*.Publish.xml
*.pubxml
*.publishproj

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directory
AppPackages/

# Others
[Tt]humbs.db
*.bak
*.cache
*.log
*.vspscc
*.vssscc
*.zip
*.7z
*.scc



bin/
.vs/
obj/

